# global settings for keeker 
#   offset_path => path for store file offsets
#   status_path => path for store event status 

global:
    offset_path:  /data/ml/docker_volume/.keeker/offsets
    status_path: /data/ml/docker_volume/.keeker/status

input:
    - type: predpipe
      paths:
          - /code/test/keeker/engine*.log
#     - type: confsync
#       paths:
#           - /shared/conf_sync*.log

# filter:
#     - type: rule
#       path:
#       pattern: 

output:
    - type: file
      path: /data/ml/docker_volume/.keeker
